<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        
        <h1>{{ mensaje }}</h1>
        <nav>
            <a href="/">Iniciando</a>
            <a href="/entrantes">Entrantes</a>
            <a href="/platos_principales">Platos Principales</a>
            <a href="/postres">Postres</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>
    hola
    <main>
        <p>{{ descripcion }}</p>
    </main>
</body>
</html>
